{% assign footerMainMenu = include.contentful.navigationMenu | where_exp: "menu", "menu.title == 'footer'" %}
{% assign footerTCMenu = include.contentful.navigationMenu | where_exp: "menu", "menu.title == 'footer-t-and-c'" %}

<footer>
  <nav>
    {% for link in footerMainMenu[0].links %}
      <ul>
        <li class="nav-header">{{ link.title }}</li>
        {% for subLink in link.sub_links %}
          <li><a href="{{ subLink.page.permalink }}">{{ subLink.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
  </nav>
  <p>
    {% for link in footerTCMenu[0].links %}
      {% if link.has_divider %}
        |
      {% endif %}
      <a href="{{ link.page.permalink }}">{{ link.title }}</a> 
    {% endfor %}
  </p>
  <p>
    &copy; 2018 Facility Solutions Group
  </p>
</footer>
