{% assign footerMainMenu = include.contentful.navigationMenu | where_exp: "menu", "menu.title == 'footer'" %}
{% assign footerTCMenu = include.contentful.navigationMenu | where_exp: "menu", "menu.title == 'footer-t-and-c'" %}

<footer>
  <nav>
    {% for link in footerMainMenu[0].links %}
      <ul>
        <li class="nav-header">{{ link.title }}</li>
        {% for subLink in link.sub_links %}
          <li><a href="{% if subLink.link_override %}{{ subLink.link_override }}{% else %}{{ subLink.page.permalink }}{% endif %}">{{ subLink.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
  </nav>
  <p>
    {% for link in footerTCMenu[0].links %}
      {% if link.has_divider %}
        |
      {% endif %}
      <a href="{% if link.link_override %}{{ link.link_override }}{% else %}{{ link.page.permalink }}{% endif %}">{{ link.title }}</a> 
    {% endfor %}
  </p>
  <p>
    &copy; 2018 <a href="https://www1.fsgi.com/"> Facility Solutions Group </a>
  </p>
</footer>

<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0078/7944.js" async="async"></script>

<!-- Hotjar Tracking Code for fsgenergy.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:914762,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '812355108968675');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=812355108968675&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<script type="text/javascript">
  _linkedin_data_partner_id = "404666";
</script>

<script type="text/javascript">
  (function(){var s = document.getElementsByTagName("script")[0];
  var b = document.createElement("script");
  b.type = "text/javascript";b.async = true;
  b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
  s.parentNode.insertBefore(b, s);})();
</script>

<script type="text/javascript" src="//cdn.callrail.com/companies/685031643/0f4b625121cca7a04ed7/12/swap.js"></script>

<noscript>
  <img height="1" width="1" style="display: none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=404666&fmt=gif">
</noscript>

<script type="text/javascript">
// Set to false if opt-in required
  var trackByDefault = true;

  function acEnableTracking() {
    var expiration = new Date(new Date().getTime() + 1000 * 60 * 60 * 24 * 30);
    document.cookie = "ac_enable_tracking=1; expires= " + expiration + ";path=/";
    acTrackVisit();
  }

  function acTrackVisit() {
    var trackcmp_email = '';
    var trackcmp = document.createElement("script");
    trackcmp.async = true;
    trackcmp.type = 'text/javascript';
    trackcmp.src = '//trackcmp.net/visit?actid=1000143628&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
    var trackcmp_s = document.getElementsByTagName("script");
    if (trackcmp_s.length) {
      trackcmp_s[0].parentNode.appendChild(trackcmp);
    } else {
      var trackcmp_h = document.getElementsByTagName("head");
      trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
    }
  }

  if (trackByDefault || /(^|;)ac_enable_tracking=([^;]+)/.test(document.cookie)) {
    acEnableTracking();
  }
</script>

<script type="text/javascript" src="https://secure.leadforensics.com/js/107969.js"></script>
<noscript><img src="https://secure.leadforensics.com/107969.png" alt="" style="display:none;" /></noscript>
