{% if include.section.sys.content_type_id == 'hero' %}
  {% include hero.html hero=include.section %}
{% elsif include.section.sys.content_type_id == 'row' %}
  {% include row.html row=include.section %}
{% elsif include.section.sys.content_type_id == 'customerStory' %}
  {% include customer_story.html story=include.section %}
{% elsif include.section.sys.content_type_id == 'html' %}
  {% include raw.html html=include.section.html %}
{% elsif include.section.sys.content_type_id == 'css' %}
  {% include styles.html css=include.section.css %}
{% endif %}
