@media (max-width: 950px) {
  header, footer {
    padding: 25px 15px;
  }

  .container {
    max-width: calc(100vw - 30px);
  }
}


@media (max-width: 880px) {
  header {
    nav {
      ul {
        li {
          padding: 0 10px;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  header {
    nav {
      display: block;

      .logo-wrapper {
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 15px;
      }

      ul {
        display: block;
        text-align: center;

        li {
          display: inline-block;

          a {
            display: block;
          }
        }
      }
    }
  }
}

@media (max-width: 610px) {
  footer {
    nav {
      display: block;

      ul {
        margin-bottom: 30px;
        display: block;

        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}