/* HEADER AND FOOTER */
@media (max-width: 1000px) {
  header, footer {
    padding: 25px 15px;
  }

  .container {
    max-width: calc(100vw - 30px);
  }
  header nav ul li {
    padding: 0 10px;
}
}


@media (max-width: 880px) {
  header {
    nav {
      ul {
        li {
          padding: 0 5px;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .hide-desktop {
    display:block;
  }
  header, footer {
    padding: 25px;
  }
  header nav ul li.dropdown > a {
    display:none;
  }
  header nav ul li.dropdown ul {
    text-align:center;
  }

  header {
    position: relative;

    nav {
      display: block;

      .logo-wrapper {
        img {
          height: 50px;
        }
      }

      .mobile-nav-open {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 3px;
        right: 0;
        z-index: 999;

        &:after {
          content: '';
          display: block;
          clear: both;
        }

        svg {
          float: left;
          height: 35px;
          width: calc((35 / 35) * 24px);

          &, * {
            transition: all 0.2s ease-in-out;
          }
        }
      }

      &.open > .mobile-nav-open {
        line {
          stroke: black;

          &:last-child {
            opacity: 0;
          }

          &:nth-child(1) {
            transform: rotate(45deg) translateY(-10.8px) translateX(-2.3px);
          }

          &:nth-child(2) {
            transform: rotate(-45deg) translateY(3.6px) translateX(-7.5px);
          }
        }
      }

      & > ul {
        padding: 0;
        max-height: 0;
        height: auto;
        transition: 0.0s all ease-in;
      }

      &.open > ul {
        max-height: calc(100vh - 89px - 25px);
        max-height: 100vh;
        height: 100vh;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 15%;
        text-align: center;
        position:fixed;
      }

      ul {
        position: absolute;
        z-index: 10;
        padding: 0;
        width: calc(100% - 50px);
        top: calc(100% - 15px);
        box-shadow: 0 2px 2px rgba(0,0,0,0.16);
        overflow: auto;
        background: white;
        display: block;
        text-align: left;

        li {
          display: block;
          padding: 0 10px !important;
          
          &:first-child {
            padding-top: 5px !important;
          }

          &:last-child {
            padding-bottom: 5px !important;
          }

          &:before {
            display: none;
          }

          &.header-button {
            a {
              color: white !important;
            }
          }

          &.dropdown {
            ul {
              display: block;
              position: static;
              width: auto;
              box-shadow: none;

              li {
                a {
                  &:hover, &:focus {
                    text-decoration: underline !important;
                    background: none;
                  }
                }
              }
            }
          }

          a {
            display: block;
            color: #0B1628 !important;
          }
        }
      }
    }
  }
}

@media (max-width: 610px) {
  footer {
    nav {
      display: block;

      ul {
        margin-bottom: 30px;
        display: block;

        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

/* HERO */
@media (max-width: 1248px) {
  section.hero {
    padding-bottom: 20.25%;
  }
}

@media (max-width: 1150px) {
  section.hero {
    & > img {
      top: 250px;
    }
  }
}

@media (max-width: 980px) {
  section.hero {
    padding-bottom: 28%;

    & > img {
      top: 300px;
    }

    & > .inner {
      width: 100%;
    }
  }
}

@media (max-width: 950px) {
  section.hero {
    & > .inner {
      margin-left: 15px;
    }
  }
}

@media (max-width: 760px) {
  section.hero {
    padding-bottom: 300px;

    &:first-child {
      padding-top: 120px;
    }

    &:after {
      border-top-width: 30px;
      border-bottom-width: 30px;
    }

    & > img {
      top: auto;
      bottom: 0;
      width: 500px;
      min-width: 100%;
      left: 0;
      max-width: none;
      max-height: none;
    }

    & > .inner {
      margin-left: 25px;
      width: calc(100% - 50px);

      p {
        max-width: none;
      }
    }
  }
}

/* ROW SECTIONS */
@media (max-width: 760px) {
  .edgelessImageWithCaption {
    & > div {
      padding: 0 15px;
      text-align: center;

      &:first-child {
        display: none;
      }
    }
  }
}
