.edgelessImageWithCaption {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;

  & > div {
    flex: 1 0 50%;

    &:last-child {
      padding-right: 45px;
    }

    a {
      @extend .anchored-away;
    }
  } 
}


.edgelessImageWithCaption:nth-child(even) > div:nth-child(odd) {
  order: 2;
}
