section.row {
  & > h5, & > .title {
    font-family: 'Roboto Slab';
    font-size: 24px;
    text-align: center;
    padding: 0 15px;
    max-width: 520px;
    margin: auto;
    margin-bottom: 50px;

    h1, h2, h3, h4, h5, h6 {
      font-size: 1em;
      font-weight: normal;
      font-family: inherit;
      display: inline;
      margin: 0;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
  }
}
