{% assign contentful = site.data.contentful.spaces.content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ page.seo_description }}"/>
    <meta name="ahrefs-site-verification" content="a45cb6893450d90af781316e568f6320bf95201d8106dbbc665318f11a67f0f2">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Roboto+Slab:700" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="icon" href="/img/favicon.png?v=3">

    <title>{{ page.title }} | {{ site.title }}</title>
  </head>

  <body class="blue-grad">
    <div class="page-wrapper">
      {% include header.html contentful=contentful page=page logo="white" %}
      <main>
        <div class="container">
          {% for section in page.page_sections %}
            {% include section.html section=section %}
          {% endfor %}
        </div>
      </main>
      {% include footer.html contentful=contentful %}
    </div>
  </body>
</html>
