{% assign contentful = site.data.contentful.spaces.content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ page.description }}"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600|Roboto+Slab:700" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="icon" href="/img/favicon.png?v=3">

    {% if page.title != "Home" %}
      <title>{{ page.title }} | {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
  </head>

  <body class="blue-grad contact">
    <div class="page-wrapper">
      {% include header.html contentful=contentful page=page logo="white" %}
      <main>
        <div class="container">
          <h1>Schedule your free, 15 minute consultation with an integration expert.</h1>
          <form action="https://formspree.io/adam.haynes@fsgi.com" method="post">
            <input type="text" name="name" placeholder="Your Name">
            <input type="text" name="_replyto" placeholder="Your Email">
            <input type="text" name="phone" placeholder="Phone">
            <input type="text" name="company" placeholder="Company">
            
            <textarea name="additionalComments" placeholder="Additional Comments"></textarea>
            <input type="text" name="_gotcha" style="display:none">
            <input type="hidden" name="_next" value="https://www.fsgenergy.com/contact">
            <input type="hidden" name="_subject" value="[FSG Energy] Contact form submission">
            <button type="submit">
              <span>Send</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 17.4 13.4"><path fill="none" stroke="#fff" stroke-width="2" stroke-miterlimit="10" d="M0 6.7h16M10 .7l6 6-6 6"/></svg>
            </button>
          </form>
        </div>
      </main>
      {% include footer.html contentful=contentful %}
    </div>
  </body>
</html>
