{% assign contentful = site.data.contentful.spaces.content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ page.description }}"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Roboto+Slab:700" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="icon" href="/img/favicon.png?v=3">

    {% if page.title != "Home" %}
      <title>{{ page.title }} | {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
    <style>
      .mobile-nav-open svg path { stroke: #00418f; }
    </style>
  </head>

  <body>
    <div class="page-wrapper">
      {% include header.html contentful=contentful page=page logo="color" %}
      <main>
        <div class="container">
          {% for section in page.page_sections %}
            {% include section.html section=section %}
          {% endfor %}
        </div>
      </main>
      {% include footer.html contentful=contentful %}
    </div>
  </body>
</html>
