body.blue-grad {
  position: relative;

  header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
  }

  main {
    padding-top: 150px;
    background: #00418f;
    background: -moz-linear-gradient(-45deg,#16428a 0%,#4a9cb9 100%);
    background: -webkit-linear-gradient(-45deg,#00418f 0%,#229fbe 100%);
    background: linear-gradient(135deg,#00418f 30%,#229fbe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16428a',endColorstr='#4a9cb9',GradientType=1);
  }
}
